/* Não deixar navegadores mudar as cores dos inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: all 500000s ease-in-out 0s;
    transition-property: background-color, color;
}

input::-ms-reveal,
input::-ms-clear { /* Desativar olho da senha */
  display: none;
}